@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://www.google.com/fonts/specimen/Raleway');
@import url('https://www.google.com/fonts/specimen/Montserrat');
@import url('https://www.google.com/fonts/specimen/Roboto');
*
{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;

}
body{  background:#f3f3f3;}
.on{
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.banner
{
  position: relative;
  width: 100%;
  height: 80vh;
  /* background: #bebbb6; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition:1s;
  /* transform: rotateX(200px); */

}

html{
  scroll-behavior: smooth;
}


.banner img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity:;
  filter: ;

}
.content
{
  position: relative;
  max-width: 750px;
  text-align: center;
}
.content h2
{
  color: #fff;

  font-size: 50px;

}
.content p
{
  /* color: #fff; */
  color: black
  font-size: 18px;
  opacity: 0.75;
}
header
{
  /* box-sizing: content-box; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  opacity: 0.8;
  box-shadow: 10px 0 10px 0 black;
  z-index: 2;

}
header .logo {
  margin-top: 20px;
  top:100px;
  left:20px;
  height: 70px;

  font-size: 50px;
  /* text-transform: uppercase; */
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  transform: scale(0.7);


}

header .logo a {
text-decoration: none;
color: black;

}
.logo span{
position: absolute;
width: 100px;
height:3px;
z-index: 1;
background-color: black;
}

.logo span:nth-child(1){
width: 50px;
left: 0px;
top:1px;
background-color: black;
height:8.9px
}
.logo span:nth-child(2){
left: 35px;
top:-29px;
background-color: black;
transform:rotateZ(-39deg);
height: 9px;
}
.logo span:nth-child(3){
height: 10px;
width:70px;
left: 120px;
top:-30px;
background-color: black;
transform:skewY(40deg);
}
.logo span:nth-child(4){
left: 45px;
top:-35px;
width:60px;
background-color: #b65f26;
transform:skewY(-39deg);
height: 8px;
}
.logo span:nth-child(5){
height: 8px;
width:60px;
left: 120px;
top:-20px;
background-color: #b65f26;
transform:skewY(40deg);
}


header .logo .name{
  letter-spacing: 2px;
  font-size: 45px;
}
header .logo .description{
  transform:translate(5px,-10px);

  font-size: 20px;
  color: black;
  letter-spacing: 4px;

}

.call_to_action_content{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width:20%;
  top: 130px;
  left: 5%;
  background: rgba(182, 95, 38, 0.7);
  height: 90%;
  /* border:2px solid #b65f26; */
  z-index: 1;
  /* box-shadow: 0 0 20px black; */
}
.call_to_action_content h2.heading{
  margin: 100px 10px 50px 10px;
  padding-bottom: : 200px;
  color: white;
  font-size: 26px;


}

.call_to_action_content a button {
  margin-top: 20px;
  /* width:80%; */
  padding: 10px 40px;
  border:2px solid #f3f3f3;
  /* border-radius: 20%; */
  background-color: #f3f3f3

}
.call_to_action_content a:hover button {
  cursor: pointer;
}

nav{
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0 200px;

}
.header_menu ul{
  list-style: none;
}
.header_menu li{
  display: inline-block;
  text-decoration: none;
  padding-right: 40px;
}
.header_menu a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.header_menu a:hover{
  color: #b65f26
}




/* header .toggle
{
  display:none;
  position: absolute;
  width: 36px;
  height: 28px;
  background: url(toggle.png);
  color: black;
  background-size: cover;
  cursor: pointer;
  filter: invert(1);
  background-color: black;
} */

.toggle{
  position: absolute;
  width: 40px;
  height: 30px;
  z-index: 10;
  top:0;
  left:0;
  opacity: 0;

}

.toggle span{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  opacity: 1;
}
.toggle span:nth-child(1){
  left:0;
  top:2;
  transition: 0.5s;
}
.toggle span:nth-child(2){
  left:0;
  top:15px;
  transition: 0.2s;
}
.toggle span:nth-child(3){
  left:0;
  top:29px;
  transition: 0.5s;
}

.toggle_x span:nth-child(1){
  left:0;
  top:15px;
  transform:rotate(45deg);
  transition: 0.5s;
}
.toggle_x span:nth-child(2){
  left:0;
  top:15px;
  opacity: 0;
  transition: 0.2s;
}
.toggle_x span:nth-child(3){
  left:0;
  top:15px;
  transform: rotate(-45deg);
  transition: 0.5s;
}



.nav_toggle_off
{
  /* display: none; */
  display: flex;
  position: fixed;
  /* top: -100%; */
  top:130px;
  left: 100%;
  width:100%;
  height: 40vh;
  background:black;
  justify-content: flex-start;
  align-items: center;
  transition: 2s;
  opacity: 0.8;
  transition: 1s;
  z-index: 2;
}

.nav_toggle_on
{
  /* display: block; */
  position: fixed;
  top:130px;
  left:60%;
  transition: 1s;
  opacity: 1;
}

.nav_toggle_off a{
  padding-left: 35px;
  font-size: 30px;
  display:block;
  color: white;
  text-decoration: none;
  transition: 1s;
  opacity: 1;
}
.nav_toggle_off a:hover{
  color:#b65f26;
}

.services
{
  position: relative;
  overflow: hidden;

  /* background: #9db9d5;
  background:#f3f2eb; */
  background:#f3f3f3;
  padding: 40px;
  text-align: center;
  z-index: 1;
  margin-top: 0px;
}
.services>h2,
.services>p{
  position: relative;
  /* top:-400px; */
  /* transition: 0.5s; */
  /* opacity: 0; */
  color:black;
}
.services .container .serviceBx:nth-child(1) {
  position: relative;
  left:-400px;
  opacity: 0 ;
  transition: 1s;
}
.services .container .serviceBx:nth-child(2) {
  position: relative;
  bottom:-400px;
  opacity: 0 ;
  transition: 1s;
}
.services .container .serviceBx:nth-child(3) {
  position: relative;
  right:-400px;
  opacity: 0 ;
  transition: 1s;
}

.services .container
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.services .container .serviceBx
{
  position: relative;
  background:#f3f3f3;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  perspective: 1000px;
  z-index: 0;
}
.services .container .serviceBx img
{
  max-width: 100px;
}
.services .container .serviceBx h2
{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}

/*  эффект переворота карточки  */

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.front {
background:#f3f3f3;
}
@-webkit-keyframes blink {
  0% {
    /* opacity: 0.2; */
  filter: invert(0);
  }
  50% {
      filter: invert(0.9);
   }
 0% {
   /* opacity: 0.2; */
filter: invert(0);
 }
}

@keyframes blink {
  0% {
    /* opacity: 0.2; */
  filter: invert(0);
  }
  50% {
      filter: invert(0.9);
   }
 0% {
   /* opacity: 0.2; */
filter: invert(0);
 }
}
.serviceBx .front h2, .serviceBx .front img {
  -webkit-animation:blink 2s ease infinite;
  animation: blink 2s ease infinite;
}

.back {
  background-color: #BDBDBD;
  transform: rotateY(180deg);
  padding: 10px;
}
.back a {
  display: block;
  margin-top: 30px;
  width: 100px;
  padding: 10px;
  background-color: #f3f3f3;
  text-decoration: none;
  color: black;
}
/* .serviceBx a.blackarea {
  position: absolute;
  width: 100% ;
  height: 100%;
  top: 0;
  left:0;
  z-index: 20;
  opacity: 0;
} */


.serviceBx:hover .front{transform: rotateY(180deg);}
.serviceBx:hover .back{transform: rotateY(360deg);}
/* .serviceBxTouch .front{transform: rotateY(180deg);}
.serviceBxTouch  .back{transform: rotateY(360deg);} */

.popup{
  position: fixed;
  width: 100% ;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left:0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;

}
.popup:target{
  opacity: 1;
  visibility: visible;
}
.popup:target .popup_content{
  /* transform: translate(0px,0px); */
  transform: perspective(600px) translate(0px,0%) rotateX(0deg);
  opacity: 1;
}
.popup_area{
  position: absolute;
  width: 100% ;
  height: 100%;
  top: 0;
  left:0;
  z-index: 20;

}
.popup_body{
  position: relative;
  min-height: 100%;
  display: flex;align-items: center;
  justify-content: center;
  padding: 110px 10px;
}
.popup_content{
  position: absolute;
  top:40px;
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 50px;
  position: relative;
  opacity: 0;
  transition: all 0.8s ease 0s;
  /* transform: translate(0px, -100%); */
  transform: perspective(600px) translate(0px,-100%) rotateX(45deg);
  z-index: 5;

}
.popup_close{
  position: absolute;
  right: 20px;
  top: 10px;
  color:black;
  font-size: 20px;
  text-decoration: none;


}
.popup_title{
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}
.popup_text{
  text-align: left;
}



.about
{
  /* background :#162c3b; */
  margin: 40px 0;
  background:#bebbb6;
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.about .contentBx
{
  /* background: #162c3b; */
  width: 50%;
  padding: 100px 100px;
  /* height: 70vh; */

}

.about .contentBx h2{
  margin-top: 30px;
  color:black;
  /* margin-bottom: 70px; */
}

.about .contentBx p {
transform:translateX(-120%);
color:black;
transition:1s;
opacity:0;
margin-bottom: 30px;
}


h2.heading
{
  color: #black;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}
p.text
{
  color: black;
  font-size:18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.about .imgBx
{
  background:white url('buildings.jpeg');
  background-size: cover;
  background-position: center;
  width: 50%;
  /* transform: translateX(100%); */
  transition: 0.5s;
}


#my_map{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
}
.my_map{
  margin-left: auto;
  margin-right: auto;
}
.my_map_mobile{
  display:none;
}

.team
{
  position: relative;
  overflow: hidden;

  /* background: #9db9d5;
  background:#f3f2eb; */
  background:#f3f3f3;


  text-align: center;
  z-index: 0;
  margin: 20px 0 40px  0;
}
.team .heading
{
  margin-bottom: 100px;
}

.team .container
{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  /* margin: 60px 0 10px 0; */
  padding: 20px;
}
.team .container .teamBx
{
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  /* overflow: hidden; */
  z-index: 0;
  transition: 2s;
  perspective: 1000px;
  margin-bottom: 80px;
}
.team .container .teamBx:nth-child(1)
{
/* border: 12px solid white; */
}

.team .container .teamBx .front
{
  height: 400px;
}

.team .container .teamBx img
{
  /* position: absolute; */
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  /* height:400px; */
  border: 10px solid white;
  border-radius: 5%;
  box-sizing: border-box;
  position: relative;

}
.team .container .teamBx h2
{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}
.team .container .teamBx p{
  margin-bottom: 20px;
  /* font-size: 14px; */
  /* align-self: flex-start; */
}
.team .container .teamBx .back p{
  margin-bottom: 20px;
  font-size: 14px;
  text-align: left;
  /* align-self: flex-start; */
}

.teamBx:hover .front {transform: rotateY(180deg);}
.teamBx:hover .back {transform: rotateY(360deg);}




/* .technology
{
  background: #3f8ffc;
    background:#2f3235;
  width: 100%;
  padding: 100px;
  margin-top: -300px;
  padding-top: 300px;
  min-height: 500px;
  padding-top: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}
.technology .contentBx
{
  max-width: 800px;
}
.technology .imgBx img
{
  max-width: 250px;
}*/

 .client
{
  background: #f3f3f3;
  padding: 100px;
  text-align: center;
}


.client .imgBx
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  overflow: hidden;
}
.client h2,
.client p{
  color:black;
}

.client .imgBx img
{
  max-width: 200px;
  margin: 20px;
  opacity: 1;
  cursor: pointer;
}
.client .imgBx img:nth-child(1),
.client .imgBx img:nth-child(2)
{
  filter:invert(1);
}
.client .imgBx img:nth-child(3),
.client .imgBx img:nth-child(4)
{
  filter: grayscale(1);
}

.client .imgBx img:hover
{
  transform:scale(1.2);
}

/* .testimonials
{
  position: relative;
  padding: 100px;
  background: #f3f3f3;
  text-align: center;
}
.testimonials .container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.testimonials .container .contentBx
{
  background: #bebbb6;
  padding: 60px 50px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.testimonials .container .contentBx p
{
  font-style: italic;
}
.testimonials .container .contentBx h3
{
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #b65f26;
} */
 /* .contactus
{
  padding: 50px;
  background: #162c3b;
  text-align: center;
} */
/*.imgBx2
{
  background: url(bg2.jpg);
  background-size: cover;
  width: 50%;
}
.redbg
{
  background: url(red.jpg) !important;
  background-size: cover;
}
.form .inputBx
{
  margin-bottom: 40px;
}
.form .inputBx input
{
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder
{
  color: #fff;
}


.form .inputBx textarea
{
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  min-height: 150px;
  font-weight: 300;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder
{
  color: #fff;
}
.form .inputBx input[type="submit"]
{
  width: 150px;
  background: #fff;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #111;
  cursor: pointer;
  font-weight: 400;
} */

section.contact
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120vh;
  background: #b65f26;
}
section.contact::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #9db9d5;
}
section.contact .container
{
  position: relative;
  min-width: 1100px;
  min-height: 740px;
  display: flex;

  /* z-index: 1000; */
}
section.contact .container .contactinfo
{
  top: 40px;
  position: absolute;
  height: calc(100% - 80px);
  width: 350px;
  height: auto;
  background: #b65f26;
  z-index: 1;
  padding: 40px;
  -webkit-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}
section.contact .container .contactinfo h2
{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
section.contact .container .contactinfo .info
{
  position: relative;
  margin: 20px 0;
}
section.contact .container .contactinfo .info li
{
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
section.contact .container .contactinfo .info li span:nth-child(1)
{
  width: 30px;
  min-width: 30px;
}
section.contact .container .contactinfo .info li span:nth-child(1) img
{
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}

section.contact .container .contactinfo .info li span
{
  color: #fff;
  margin-left: 10px;
  font-weight: 300;
  opacity: 0.5;
}
section.contact .container .contactinfo .info li:hover span:nth-child(1) img,
section.contact .container .contactinfo .info li:hover span
{
  opacity: 1;
}
section.contact .container .contactinfo .sci
{
  position: relative;
  display: flex;
}
section.contact .container .contactinfo .sci li
{
  list-style: none;
  margin-right: 15px;
}
section.contact .container .contactinfo .sci li a
{
  text-decoration: none;
}
section.contact .container .contactinfo .sci li a img
{
  filter: invert(1);
  opacity: 0.5;
}
section.contact .container .contactinfo .sci li:hover a img
{
  opacity: 1;
}
section.contact .container .contactForm
{
  position: absolute;
  padding: 70px 50px;
  background: #fff;
  margin-left: 150px;
  padding-left: 250px;
  width: calc(100% - 250px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
section.contact .container .contactForm h2
{
  color: #0f3959;
  font-size: 24px;
  font-weight: 500;
}
section.contact .container .contactForm .formBox
{
  position: relative;
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 30px;
}
section.contact .container .contactForm .formBox .inputBox
{
  position: relative;
  margin: 0 0 35px 0;
}
section.contact .container .contactForm .formBox .inputBox.w50
{
  width: 47%;
}
section.contact .container .contactForm .formBox .inputBox.w100
{
  width: 100%;
}
section.contact .container .contactForm .formBox .inputBox input,
section.contact .container .contactForm .formBox .inputBox textarea
{
  width: 100% !important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}
section.contact .container .contactForm .formBox .inputBox textarea
{
  min-height: 120px;
}
section.contact .container .contactForm .formBox .inputBox span
{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}
section.contact .container .contactForm .formBox .inputBox input:focus ~ span,
section.contact .container .contactForm .formBox .inputBox textarea:focus ~ span,
section.contact .container .contactForm .formBox .inputBox input:valid ~ span,
section.contact .container .contactForm .formBox .inputBox textarea:valid ~ span
{
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #b65f26;
}
section.contact .container .contactForm .formBox .inputBox input[type="submit"]
{
  position: relative;
  cursor: pointer;
  background: #666665;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
section.contact .container .contactForm .formBox .inputBox input[type="submit"]:hover
{
  background: #bebbb6;
  /* box-shadow: 0 0 3px 0 black; */
}
.footer
{
  background: #bebbb6;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer p{
  color:black;
}
.footer ul
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li
{
  list-style: none;
}
.footer ul li a
{
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;

}
.footer ul li a img
{
  filter: grayscale(1);

  max-width: 20px;
}

.about .contentBxScrol h2 ,
.about .contentBxScrol p {
  transform:translateX(0%);
  transition: 1s;
  opacity: 1;
}
.about .imgBxScrol{
  /* transform: translateX(0%); */
  transition: 1s;
}
.menu{
  transition-delay: 10s;
  transition:1s;
}
.nav_active{
  width: 30%;
  transition: 1s;
}
.servicesScrol>h2,
.servicesScrol>p{
  top:0px;
  opacity: 1;
  transition: 1s;
}
.servicesScrol .container .serviceBx:nth-child(1) {
  position: relative;
  left:0px;
  opacity: 1;
  transition: 1s;
  /* z-index: 100; */
}

.servicesScrol .container .serviceBx:nth-child(2) {
  position: relative;
  bottom:0px;
  opacity: 1;
  transition: 1s;
}
.servicesScrol .container .serviceBx:nth-child(3) {
  position: relative;
  right:0px;
  opacity: 1;
  transition: 1s;
}
/* .brand:nth-child(1){
  position: relative;
  left:1500px;
  transition: 1s
}
.brand:nth-child(2){
  position: relative;
  left:300px;
  transition: 1s
}
.brand:nth-child(3){
  position: relative;
  left:300px;
  transition: 1s
}
.brand:nth-child(4){
  position: relative;
  left:300px;
  transition: 1s
}
.brandScrol:nth-child(1){
  left:0;
  transition: 1s;
}
.brandScrol:nth-child(2){
  left:0;
  transition: 1s;
}
.brandScrol:nth-child(3){
  left:0;
  transition: 1s;
}
.brandScrol:nth-child(4){
  left:0;
  transition: 1s;
} */


@media (max-width: 1180px)
{

  h2.heading
  {
    font-size: 26px;
  }
  p.text
  {
    font-size: 18px;
  }
  /* .toggle{
    position: absolute;
    top:80px;
    /* width: 100%; */
    /* left:-120px;
    margin-right: 0px;

  } */
  header
  {
    padding: 20px 40px;
    box-sizing: content-box;
  }
  .banner
  {
    border: 1px solid;
    padding: 50px;
    overflow: hidden;
  }
  .banner h2
  {
    font-size: 36px;
  }
  .banner p
  {
    font-size: 16px;
  }
  nav{
    display:none;
  }

  .nav_toggle_off {
      height: 62%;
    }

  .nav_toggle_off a{
    font-size: 50px;
  }


  header .toggle{
    display:block;
    left:70%;
    top:50px;
    opacity: 1;

  }

.call_to_action_content{
  width:30%;
  left:20px;
}

.call_to_action_content h2.heading{
font-size: 28px;
margin-top: 50%;
}

.call_to_action_content a button {
  margin-top: 0px;
  padding: 10px 20px;

}

  .about
  {
    flex-direction: column;
  }
  .about .contentBx, .about .imgBx {
    padding: 50px;
    width: 100%;
    min-height: 300px;
    text-align: center;
}

  /* .about .contentBx
  {
    height: 50vh;
  } */

  #my_map{
    height: 500px
  }
  #my_map h2{
    position: relative;
    top:150px;
  }

  .my_map
  {
    width: auto;
    transform: scale(0.5);
    margin-left: -150px;
    margin-right:0;
  }

  .services
  {
    padding: 50px;
  }
  .services .container
  {
    justify-content: center;
    margin-top: 20px;
  }

  .services .container .serviceBx
  {
    position: relative;
    /* width: 3000px;
    height: 350px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    transform: rotateY(180deg);
  }


  /* .technology
  {
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
  }
  .technology .imgBx img
  {
    margin-top: 40px;
    max-width: 250px;
  } */

  .client
  {
    padding: 50px;
  }
  .client .imgBx
  {
    justify-content: center;
  }
  .testimonials
  {
    padding: 50px;
  }
  .testimonials .container .contentBx
  {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  .testimonials .container .contentBx:last-child
  {
    margin-bottom: 0;
  }
  .contact
  {
    padding: 50px;
  }
  section.contact {
    min-height:800px;
  }

  section.contact .container{
    /* display: none; */
    min-width: 900px;
    width: auto;
    height:400px;
    pa

  }
  section.contact .container .contactinfo
  {
    width:300px;
    margin-left: 80px;
  }
  .footer
  {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer ul
  {
    margin-bottom: 20px;
  }
}
@media (max-width: 420px)
{
  body{

  }
  header
  {

    position: fixed;
    z-index: 3;
  }

  header .logo
  {
    font-size: 50px;
    margin-left: -35px;

  }
  header .logo .description
  {
    color: black;
    width: 300px;
    margin-top: 0px;

  }

  /* .logo span{
  transform: scale(0.5);
  }
  .logo span:nth-child(2){
  transform: rotateZ(-39deg), scale(0.5);
  }
  .logo span:nth-child(3){
  transform: skewY(40deg), scale(0.5);
  }
  .logo span:nth-child(4){
  transform: skewY(-39deg), scale(0.5);
  }
  .logo span:nth-child(4){
  transform: skewY(40deg), scale(0.5);
  } */
  header .toggle {
      display: block;
      left: 280px;
      top: 50px;
      opacity: 1;
  }

  nav{
    display:none;
  }

.nav_toggle_off {
    height: 60vh;
  }

  .nav_toggle_off a{
    font-size: 26px;
  }

  /* header .toggle{
    display:block;
    left:280px;
    top:50px;
  } */

  .call_to_action_content{
    width:50%;
    left:40px;
  }

  .call_to_action_content h2.heading{
  font-size: 18px;
  margin-top: 90px;
  margin-bottom: 40px;
  }

  .call_to_action_content a button {
    margin-top: 20px;
    padding: 10px 20px;

  }

  .about .contentBx
  {
    /* height: 100vh; */
  }
  .about .contentBx h2{
    margin-top: 20px;

  }

  #my_map {
      height: 300px;
  }

  #my_map h2{
    position: relative;
    top:250px;
  }

 /* .my_map_mobile
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */

  /* .my_map
  {
    display:none;
  } */

  .my_map
  {
    width: auto;
    transform: scale(0.25);
    margin-right:0;
  }


/* Service*/
.service .container{

}

.services .container .serviceBx
{
  background:#f3f3f3;
  height: 300px;
  padding: 10px 0px;
  margin: 10px 0px;

}

.back{
  font-size: 14px;
}

.services .container .serviceBx:nth-child(1) {

  left:-200;


}

.services .container .serviceBx:nth-child(1) .back a {
    margin-top: 5px;

}

.services .container .serviceBx:nth-child(2) {
  bottom: 0;
  right: :-200;

}

.services .container .serviceBx:nth-child(3) {
  right: -200;

}


.servicesScrol .container .serviceBx:nth-child(1) {

  left:0px;

}
.servicesScrol .container .serviceBx:nth-child(2) {
  right: :0px;

}
.servicesScrol .container .serviceBx:nth-child(3)
{
  left: :0px;
}

/* .serviceBx:hover .front{transform: rotateY(0deg);}
.serviceBx:hover .back{transform: rotateY(180deg);} */


section.contact
{
  height:1500px;
  background: #9db9d5;
  align-items: flex-start;
}
section.contact .container{
  /* display: none; */
  min-width: 375px;
  width: auto;
  height:400px;
  margin: 0px;
  flex-wrap: wrap;
}

section.contact .container .contactinfo
{
  width: 100%;
  /* -webkit-top:-300px;
  top:-300px; */
  -webkit-position: relative;
  position: relative;
  margin: 0px auto;
  padding-left: 70px;
  padding-right: auto;
  height:600px;
  box-shadow:
  0 20px 20px rgba(0, 0, 0, 0.2),
  0 -20px 20px rgba(0, 0, 0, 0.2);
}
section.contact .container .contactForm
{
  /* -webkit-top:-300px;
  top:-300px; */
  -webkit-position: relative;
  position: relative;
  margin:20px;
  padding-left: 20px;
  width:100%;
  height:700px;
}
section.contact .container .contactForm .formBox
{
  flex-direction: column;
}
section.contact .container .contactForm .formBox .inputBox.w50
{
  width: 100%;
  margin:20px;
}
section.contact .container .contactForm .formBox .inputBox.w100
{
  width: 100%;
  margin:20px;
}
section.contact .container .contactForm .formBox .inputBox input[type="submit"]
{
  margin-left: 50px;
  margin-right: auto;
}
}
